# Ignore bundler config.
Project/.bundle

# Ignore the default SQLite database.
Project/db/*.sqlite3
Project/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.

Project/log/*.log
Project/tmp

Project/bin

.vagrant
*~

