@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding: 70px;
}

.center h1 {
  margin-bottom: 10px
}



#logo {
  float: left;
  margin-right: 10px;
  margin-left: 15px;

  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
