@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding: 70px;
}

.center h1 {
  margin-bottom: 10px
}



#logo {
  float: left;
  margin-right: 10px;
  margin-left: 15px;

  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  
}
